<div class="robotoReg" id="clientPageId">
      <div class="row">
        <div class="col s8">
          <div class="row">
            <span class="medText" style="font-size: 40px">Carlson, Daniel</span>&nbsp;&nbsp;<span class="nameStyle robotoLight">Client#: 1234567</span> &nbsp;&nbsp;<span style="font-size: 12px;">|</span>&nbsp;&nbsp;<span class="nameStyle robotoLight">Assigned Staff: Marcus Brody</span>
          </div>
          <div class="row">
            <div class="row">
              <a class="btn-large waves-effect waves-light  yellow lighten-1" href="#/withMoney/1" style="color: rgba(0, 0, 0, 0.6)">Withdraw Money from MM account<i class="material-icons right">eject</i></a>
            </div>
            <div class="row">
              <a class="btn-large waves-effect waves-light orange lighten-1" href="#/loans/1">Loan Repayments<i class="material-icons right">receipt</i></a>
            </div>
            <div class="row">
              <a class="btn-large waves-effect waves-light blue lighten-1" href="#/saveMoney/1">Save Money into MM account<i class="material-icons right">payment</i></a>
            </div>
            <div class="row">
              <a class="btn-large waves-effect waves-light teal darken-2" href="#/sendMoney/1">Send Money through MM account<i class="material-icons right">reply</i></a>
            </div>
            <div class="row">
              <a class="btn-large waves-effect waves-light green" href="#/transaction/1">View Transaction History<i class="material-icons right">description</i></a>
            </div>
            <br>
            <div class="row">
              <a class="btn waves-effect waves-light red darken-1 subButton" ng-click="goBack()">Cancel<i class="material-icons right">clear</i></a>
            </div>
          </div>
        </div>
        <div class="col s4 resetSize">
          <div class="clientBox">
            <div class="row clientImg">
              <span><img src="images/client-image-placeholder.png"></span>
            </div>
            <div class="row summaryInfo">
              <div class="sumHead" style="text-align: center;">Client Information</div><br>
              <span>Activation Date: 27th May 2016</span><br><br>
              <span>Current Account Balance: 65000</span><br><br>
              <span>Staff Member: Jack Ryan</span><br><br>
              <span>Gender: Male</span><br><br>
              <span>Client Type: Footballer</span><br><br>
              <span>Client Classification: Gold</span><br><br>
            </div>
          </div>
        </div>
      </div>
  </div>