<div class="robotoReg" id="configurationsPage">
	<center>
		<div class="main configBox">
			<div class="row bottomLine">
				<h2>Configurations</h2>
			</div><br>

			<div class="row">
				<div class="col s6">
					<div class="input-field">
						<select>
							<option value="" disabled>Choose your option</option>
							<option>Africa, East</option>
							<option selected>Africa, West</option>
							<option>Africa, North</option>
							<option>Africa, South</option>
						</select>
						<label>Region</label>
					</div>
				</div>
				<div class="col s6">
					<div class="input-field">
						<select>
							<option value="" disabled>Choose your option</option>
							<option selected>Cameroon</option>
							<option>Nigeria</option>
							<option>Kenya</option>
							<option>Ethiopia</option>
							<option>Namibia</option>
							<option>Tanzania</option>
						</select>
						<label>Country</label>
					</div>
				</div>
			</div>
			<br>
			<div class="row" id="apis">
				<form class="center-align">
					<div class="left">
						<input type="radio" name="apiConfig" value="1" ng-model="radioBoxSelection" id="rest">
						<label for="rest">REST Configurations</label>
					</div class="right">
					<div>
						<input type="radio" name="apiConfig" value="2" ng-model="radioBoxSelection" id="soap">
						<label for="soap">SOAP Configurations</label>
					</div>
				</form>
			</div>
			<br>
			<div class="row" id="REST" ng-show="radioBoxSelection == 1">
				<!-- Domain -->
				<div class="row">
					<span style="position: relative;float: left" class="leftLine">Domains:&nbsp;<i class="material-icons tiny tooltipped" data-position="top" data-delay="10" data-tooltip="Domain names for you mobile money API">help</i> </span>
				</div>
				<div class="row">
					<ul class="collapsible popout" data-collapsible="accordion">
						<li>
							<div class="collapsible-header"><i class="material-icons left">payment</i><span style="positon: relative; float: left">Savings URL</span>
							</div>
							<div class="collapsible-body">
								<div class="row">
									<br>
									<div class="col s10">
										<div class="input-field">
                  							<i class="material-icons prefix">vpn_lock</i>
                  							<input name="savingsUrl" id="icon_prefix" type="text" value="{{savingsURL}}" ng-disabled="saveBtn" ng-init="saveBtn=true">
                						</div>
									</div>
									<div class="col s2">
										<a class="btn waves-effect waves-light blue tooltipped" data-position="top" data-delay="10" data-tooltip="Edit URL used for savings in API" ng-click="saveBtn=false"><i class="material-icons right">create</i></a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="material-icons left">eject</i><span style="positon: relative; float: left">Withdrawals</span></div>
							<div class="collapsible-body">
								<div class="row">
									<br>
									<div class="col s10">
										<div class="input-field">
                  							<i class="material-icons prefix">vpn_lock</i>
                  							<input name="withUrl" id="icon_prefix" type="text" value="{{withURL}}" ng-disabled="withBtn" ng-init="withBtn=true">
                						</div>
									</div>
									<div class="col s2">
										<a class="btn waves-effect waves-light blue tooltipped" data-position="top"data-delay="10" data-tooltip="Edit URL used for withdrawals in API" ng-click="withBtn=false"><i class="material-icons right">create</i></a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="material-icons left">reply</i><span style="positon: relative; float: left">Send Money</span></div>
							<div class="collapsible-body">
								<div class="row">
									<br>
									<div class="col s10">
										<div class="input-field">
                  							<i class="material-icons prefix">vpn_lock</i>
                  							<input name="sendUrl" id="icon_prefix" type="text" value="{{sendURL}}" ng-disabled="sendBtn" ng-init="sendBtn=true">
                						</div>
									</div>
									<div class="col s2">
										<a class="btn waves-effect waves-light blue tooltipped" data-position="top" data-delay="10" data-tooltip="Edit URL used for sending money in API" ng-click="sendBtn=false"><i class="material-icons right">create</i></a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="material-icons left">power</i><span style="positon: relative; float: left">Others:</span></div>
							<div class="collapsible-body">
								<div class="row">
									<br>
									<div class="col s10">
										<div class="input-field">
                  							<i class="material-icons prefix">vpn_lock</i>
                  							<input name="otherUrls" id="icon_prefix" type="text" value="{{otherURL}}" ng-disabled="otherBtn" ng-init="otherBtn=true">
                						</div>
									</div>
									<div class="col s2">
										<a class="btn waves-effect waves-light blue" ng-click="otherBtn=false"><i class="material-icons right">create</i></a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<!-- Others -->
				<div class="row">
					<span style="position: relative;float: left" class="leftLine">Other Settings:&nbsp;<i class="material-icons tiny tooltipped" data-position="top" data-delay="10" data-tooltip="Other settings needed by your mobile money API">help</i> </span>
					<span class="right"><a class="btn-floating waves-effect waves-light blue tooltipped" data-position="top" data-delay="10" data-tooltip="Add other settings needed by Mobile money API"><i class="material-icons right" >add</i></a></span>
				</div>
				<div class="row">
					<div class="col s4">
						<span>Mobile money account ID:</span>&nbsp;<span class="colorGrey" style="font-style: italic">{{accountId}}</span>
					</div>
					<div class="input-field col s5">
						<input type="text" name="url" id="url" ng-model="accountId" ng-disabled="button" ng-init="button=true">
					</div>
					<div class="col s3">
						<a class="btn waves-effect waves-light blue tooltipped" ng-click="button=false" data-position="top" data-delay="10" data-tooltip="Edit Mobile money Account Id"><i class="material-icons right">create</i></a>
						<a class="btn waves-effect waves-light red tooltipped" data-position="top" data-delay="10" data-tooltip="Delete this setting"><i class="material-icons right">clear</i></a>
					</div>
				</div>

				<!-- Parameters -->
				<div class="row">
					<span style="position: relative;float: left" class="leftLine">Parameters:&nbsp;<i class="material-icons tiny tooltipped" data-position="top" data-delay="10" data-tooltip="Parameters needed for your mobile money API">help</i> </span>
				</div>
				<div class="row">
					<ul class="collapsible popout" data-collapsible="accordion">
						<li>
							<div class="collapsible-header"><i class="material-icons left">payment</i><span style="positon: relative; float: left">Savings</span>
							</div>
							<div class="collapsible-body">
								<div class="row topify">
									<div class="col s9 left">
										<span style="color: rgba(0, 0, 0, 0.5);">/Domain/savings?phoneNumber="674377956"&amount=
										5000&clientId="12345678</span>
									</div>
									<div class="col s3 right">
										<a class="btn-floating waves-effect waves-light blue" href=""><i class="material-icons right">add</i></a>
									</div>
								</div>
								<div class="row">
									<div class="col s1">
									<i class="material-icons left colorGrey">play_arrow</i>
									</div>
									<div class="col s8">
										<div class="input-field">
                  							<i class="material-icons prefix">phone</i>
                  							<input type="number" id="phoneNumber" value="674377956" disabled>
                						</div>
									</div>
									<div class="col s2">
										<a class="btn waves-effect waves-light red" href=""><i class="material-icons right">clear</i></a>
									</div>
								</div>
								<div class="row">
									<div class="col s1">
									<i class="material-icons left colorGrey">play_arrow</i>
									</div>
									<div class="col s8" style="position: relative; top: 0">
										<div class="input-field">
                  							<i class="material-icons prefix">attach_money</i>
                  							<input type="number" id="amount" value="5000" disabled>
                						</div>
									</div>
									<div class="col s2">
										<a class="btn waves-effect waves-light red" href=""><i class="material-icons right">clear</i></a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="material-icons left">eject</i><span style="positon: relative; float: left">Withdrawals</span></div>
							<div class="collapsible-body">
								<div class="row topify">
									<div class="col s9 left">
										<span style="color: rgba(0, 0, 0, 0.5);">/Domain/withdrawals?phoneNumber="674377956"&amount=5000&clientId="12345678"</span>
									</div>
									<div class="col s3 right">
										<a class="btn-floating waves-effect waves-light blue" href=""><i class="material-icons right">add</i></a>
									</div>
								</div>
								<div class="row">
									<div class="col s1">
									<i class="material-icons left colorGrey">play_arrow</i>
									</div>
									<div class="col s8" style="position: relative; top: 0">
										<div class="input-field">
                  							<i class="material-icons prefix">phone</i>
                  							<input type="number" id="phoneNumber" value="674377956" disabled>
                						</div>
									</div>
									<div class="col s2">
										<a class="btn waves-effect waves-light red" href=""><i class="material-icons right">clear</i></a>
									</div>
								</div>
								<div class="row">
									<div class="col s1">
									<i class="material-icons left colorGrey">play_arrow</i>
									</div>
									<div class="col s8" style="position: relative; top: 0">
										<div class="input-field">
                  							<i class="material-icons prefix">attach_money</i>
                  							<input type="number" id="amount" value="5000" disabled>
                						</div>
									</div>
									<div class="col s2">
										<a class="btn waves-effect waves-light red" href=""><i class="material-icons right">clear</i></a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="collapsible-header">
								<i class="material-icons left">reply</i>
								<span style="positon: relative; float: left">Send Money</span>
							</div>
							<div class="collapsible-body">
								<div class="row topify">
									<div class="col s10">
										<span style="color: rgba(0, 0, 0, 0.5);">/Domain/send?phoneNumber="674377956"&amount=5000&recipient="Daniel Carlson"&clientId="12345678"</span>
									</div>
									<div class="col s2">
										<a class="btn-floating waves-effect waves-light blue" href=""><i class="material-icons right">add</i></a>
									</div>
								</div>
								<div class="row">
									<div class="col s1">
									<i class="material-icons left colorGrey">play_arrow</i>
									</div>
									<div class="col s8" style="position: relative; top: 0">
										<div class="input-field">
                  							<i class="material-icons prefix">phone</i>
                  							<input type="number" id="phoneNumber" value="674377956" disabled>
                						</div>
									</div>
									<div class="col s2">
										<a class="btn waves-effect waves-light red" href=""><i class="material-icons right">clear</i></a>
									</div>
								</div>
								<div class="row">
									<div class="col s1">
									<i class="material-icons left colorGrey">play_arrow</i>
									</div>
									<div class="col s8" style="position: relative; top: 0">
										<div class="input-field">
                  							<i class="material-icons prefix">person</i>
                  							<input type="text" id="recipient" value="Daniel Carlson" disabled>
                						</div>
									</div>
									<div class="col s2">
										<a class="btn waves-effect waves-light red" href=""><i class="material-icons right">clear</i></a>
									</div>
								</div>
								<div class="row">
									<div class="col s1">
									<i class="material-icons left colorGrey">play_arrow</i>
									</div>
									<div class="col s8" style="position: relative; top: 0">
										<div class="input-field">
                  							<i class="material-icons prefix">attach_money</i>
                  							<input type="number" id="amount" value="5000" disabled>
                						</div>
									</div>
									<div class="col s2">
										<a class="btn waves-effect waves-light red" href=""><i class="material-icons right">clear</i></a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="row">
					<button class="btn waves-effect waves-light blue modal-trigger" data-target="updateModal"><i class="material-icons left">build</i>Update Settings</button>
					<button class="btn waves-effect waves-light green modal-trigger" data-target="cancelModal"><i class="material-icons right">clear</i>Cancel</button>
				</div>

				<!-- Modal code -->
  				<div id="updateModal" class="modal">
	    			<div class="modal-content">
	      				<h4>Confirmation</h4>
	      				<p>Changing the settings here could cause the application not to work correctly.<br> Are you sure you want to update the settings?</p>
	    			</div>
	    			<div class="modal-footer">
	      				<a ng-click="deny()" class="btn left modal-action modal-close waves-effect waves-light red">Cancel Update</a>
	      				<a href="#!" class="btn right modal-action modal-close waves-effect waves-light blue">Update</a>
	    			</div>
  				</div>
  				<div id="cancelModal" class="modal">
	    			<div class="modal-content">
	      				<h4>Confirm cancelation</h4>
	      				<p>Agreeing discards all your changes<br>Are you sure you want to discard your changes?</p>
	    			</div>
	    			<div class="modal-footer">
	      				<a class="btn left modal-action modal-close waves-effect waves-light red">Disagree</a>
	      				<a ng-click="goBack()" class="btn right modal-action modal-close waves-effect waves-light blue">Agree</a>
	    			</div>
  				</div>
			</div>
			<div class="row" id="SOAP" ng-show="radioBoxSelection == 2">
				<span>SOAP configurations will go here</span>
			</div>
		</div>
	</center>
</div>