<div class="robotoReg" id="configurationsPage">
	<center>
		<div class="main configBox">
			<div class="row">
				<h2>Configurations</h2>
			</div>
			<hr>
			<div class="row" id="apis">
				<div class="col s6">
					<input type="radio" name="restConfig" id="rest">
					<label for="rest">REST Configurations</label>
				</div>
				<div class="col s6">
					<input type="radio" name="soapConfig" id="soap">
					<label for="soap">SOAP Configurations</label>
				</div>
			</div>
			<div class="row" id="REST">
				<div class="row">
					<div class="input-field col s10">
						<label for="domain">Domain: </label>
						<input type="text" name="domain" id="domain">
					</div>
					<div class="col s2">

					</div>
				</div>
				<div class="row">
					<div class="input-field col s10">
						<label for="url">URL: </label>
						<input type="text" name="url" id="url">
					</div>
					<div class="col s2">

					</div>
				</div>
				<div class="row">
					<span class="left">Parameters: </span>
				</div>
			</div>
			<div class="row" id="SOAP">

			</div>
		</div>
	</center>
</div>