<div class="robotoReg" ng-controller="loanCtrl">
      <!-- spinner -->
        <div class="spinner" ng-show="loading">
		  <img src="images/cubic_loader.gif">
        </div>
      <div class="row" ng-hide="loading">
        <div class="col s8">
         <div class="row">
            <span class="medText" style="font-size: 40px;">{{clientName}}</span>&nbsp;&nbsp;<span>Client#: <span class="nameStyle robotoLight">{{accountNo}}</span></span> &nbsp;&nbsp;<span style="font-size: 12px;">|</span>&nbsp;&nbsp;Assigned Staff: <span class="nameStyle robotoLight">{{staffName}}</span></span>
          </div>
		  <div class="row">
			  <div class="col s12" style="position: relative; left: 1%;" style="font-size: 15px">				
	        	<table class="bordered centered responsive-table" style="font-size: 15px">
					<thead style="background-color: rgba(0, 0, 0, 0.2)">
	                    <th data-field="id">ID</th>
	                    <th data-field="accountId">Account #</th>
						<th data-field="name">Account Name</th>
						<th data-field="originalLoan">Original Loan</th>
						<th data-field="balance">Loan Balance</th>
						<th data-field="paid">Amount Paid</th>
						<th data-field="button">Action<th>
					</thead>
					<tbody>
						<tr dir-paginate="acc in loanAccounts|itemsPerPage: 5" class="pointer tableHover">
							<td>{{acc.id}}</td>
							<td>{{acc.accountNo}}</td>
							<td>{{acc.productName}}</td>
							<td>{{acc.originalLoan}}</td>
							<td>{{acc.loanBalance}}</td>
							<td>{{acc.amountPaid}}</td>
							<td><a href="#/processLoans" class="btn" ng-class="acc.status.active || !acc.status.closed ? 'blue' : 'whiteBtn'">Credit</a></td>
						</tr>
					</tbody>
				</table>
				<div>
					<center>
					<dir-pagination-controls
				    	max-size="10"
				    	direction-links="true"
				    	boundary-links="true" >
					</dir-pagination-controls>
					</center>
				</div>			
			  </div>
		  </div>
		  
		  <!-- Partial view -->
		  <script type="text/ng-template" id="/processLoan.htm">
  			<div class="row" id="loanThingz">
				<center><span style="font-size: 25px;width: 60%" class="robotoThin">Choose Method</span></center>
				<center>
  				<form class="center-align" style="width: 60%">
  					<div class="left">
  						<input type="radio" name="loanConfig" value="1" ng-model="radioBoxSelection" id="savingsAccPay">
  						<label for="savingsAccPay">Use Savings Account</label>
  					</div>
  					<div>
  						<input type="radio" name="loanConfig" value="2" ng-model="radioBoxSelection" id="loanPay">
  						<label for="loanPay">Pay Loan</label>
  					</div>
  				</form>
				</center>
  			</div>
			  <div class="row" ng-show="radioBoxSelection == 1" style="width: 80%;">
				  <div class="col s12" style="position: relative; left: 1%; font-size: 15px">				
		        	<table class="bordered centered responsive-table">
						<thead style="background-color: rgba(0, 0, 0, 0.2);">
		                    <th data-field="id">ID</th>
		                    <th data-field="accountId">Account #</th>
							<th data-field="name">Account Name</th>
							<th data-field="balance">Account Balance</th>
							<th data-field="button">Action<th>
						</thead>
						<tbody>
							<tr dir-paginate="acc in $root.savingsAccounts|itemsPerPage: 5" class="pointer tableHover">
								<td>{{acc.id}}</td>
								<td>{{acc.accountNo}}</td>
								<td>{{acc.productName}}</td>
								<td ng-model="bal">{{acc.accountBalance}}</td>
								<td><a href="#/processTransfer" class="btn" ng-class="acc.status.active || acc.status.rejected ? 'red' : 'whiteBtn'">Debit</a></td>
							</tr>
						</tbody>
					</table>
					<div>
						<center>
						<dir-pagination-controls
					    	max-size="10"
					    	direction-links="true"
					    	boundary-links="true" >
						</dir-pagination-controls>
						</center>
					</div>			
				  </div>
			  </div>
          <div class="row withMBox" ng-controller="processLoanCtrl" ng-show="radioBoxSelection == 2">
            <form class="col s8" name="loanForm" ng-submit="submitLoanForm(loanForm.$valid)" novalidate>
              <div class="row" style="text-align: center;">
                <span class="xlargeText robotoLight" style="color: #ffa726">Repay Loans using MM Account</span>
              </div>
              <div class="row">
              	<div class="col s6">
                	<span class="largeText robotoReg">Current Balance: 65000</span>
                </div>
                <div class="col s6">
                	<span class="largeText roboReg" style="color: red">Current loans: 5000</span>
                </div>
              </div>
              <div class="row">
                <div class="input-field" ng-class="{'has-error': loanForm.amount.$invalid && !loanForm.amount.$pristine }">
                  <i class="material-icons prefix">attach_money</i>
                  <input name="amount" id="icon_prefix" ng-model="amount" type="number" ng-minlength="1" required>
                  <label for="icon_prefix">Enter Amount</label>
                  <p ng-show="(loanForm.amount.$invalid && !loanForm.amount.$pristine) && submitted" class="errorMsg">Amount is required.</p>
                </div>
              </div>
              <div class="row">
                <div class="input-field" ng-class="{ 'has-error': loanForm.phone.$invalid && !loanForm.phone.$pristine }">
                  <i class="material-icons prefix">phone</i>
                  <input name="phone" type="number" id="phoneNumber" ng-model="phoneNumber" ng-minlength="8" required>
                  <label for="icon_prefix">Phone Number</label>
                  <p ng-show="loanForm.phone.$error.minlength && submitted" class="errorMsg">Phone number is too short.</p>
                  <p ng-show="(loanForm.phone.$invalid && !loanForm.phone.$pristine) && submitted" class="errorMsg">Phone number is required.</p>
                </div>
              </div>
              <br><br>
              <div class="row">
                  <a class="btn waves-effect waves-light black left" ng-click="goBack()">Cancel<i class="material-icons right">clear</i></a>
                  <button class="btn waves-effect waves-light orange lighten-1 right">Submit<i class="material-icons right">send</i></button>
              </div>
            </form>
          </div>
          <!-- Modal Structure -->
            <div id="loanRepayModal" class="modal">
                <div class="modal-content">
                  <span class="robotoThin" style="font-size: 25px;">Please wait....Processing request</span>
                </div>
                <div class="modal-footer">
                  <div class="progress">
                    <div class="indeterminate"></div>
                  </div>
                </div>
            </div>
	  	</script>
		  <!-- End of control -->
		  
        </div>
        <div class="col s4 resetSize">
          <div class="clientBox" style="width: 100%">
			<div class="row" style="color: #1E88E5; text-decoration: underline;">
				<center>{{clientName}}</center>
			</div>
            <div class="row">
              <center><img src="images/client-image-placeholder.png"></center>
            </div>
            <div class="row summaryInfo">
              <div class="sumHead" style="text-align: center;">&nbsp;Client Information</div><br>
            	<span>Activation Date: <span class="robotoLight">&nbsp;{{activationDate}}</span></span><br>
            	<span>Staff Member: <span class="robotoLight">&nbsp;{{staffName}}</span></span><br>
				<span># of Loan Cycle: <span class="robotoLight">&nbsp;5</span></span><br>
				<span># of Active Savings: <span class="robotoLight">&nbsp;5</span></span><br>
				<span>Total Savings: <span class="robotoLight">&nbsp;50000000</span></span><br>
            	<span>Office: <span class="robotoLight">&nbsp;{{officeName}}</span></span><br>
            	<span>Activated by: <span class="robotoLight">&nbsp;{{userName}}</span></span>
            </div>
          </div>
        </div>
      </div>
  </div>

  