<div>
      <div id="dynamicContent" class="container robotoReg colorGrey row box">
        <div class="row">
          <div class="col s12 extraLargeText header">
            M O B I L E&nbsp;&nbsp;&nbsp;M O N E Y
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <img src="./images/MifosX_logo.png">
          </div>
          <div class="col s8">
            <h4>Mifos X Mobile Money Application</h4>
            <p class="smallText">
              Version 01.00.01.RELEASE <br />
            Mobile Money Application is designed by the Mifos Initiative. A global community that aims to speed the elimination of poverty by enabling Organizations to more effectively and efficiently deliver responsible financial services to the world’s poor and unbanked <br />
            Sounds interesting? <a href="https://github.com/DanCarl857/Mobile-application">Get involved!</a>
            </p>
          </div>
        </div>
        <div class="row loginForm">
          <form class="col s10" name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate>
            <div class="input-field col s5">
              <i class="material-icons prefix colorBlack">perm_identity</i>
              <input placeholder="username" id="username" name="username" type="text" class="validate">
              <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine && submitted">Your username is required</p>
            </div>
            <div class="input-field col s5">
              <i class="material-icons prefix colorBlack">vpn_key</i>
              <input placeholder="password" id="password" name="password" type="password" class="validate">
              <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine && submitted">Your password is required</p>
            </div>
          </form>
        </div>
        <div class="row">
          <p class="errorMsg" ng-show="!loginSuccessful && submitted">Username or Password incorrect</p>
          <a class="btn waves-effect waves-light green subButton" ng-click="navigateTo('home')">Sign In</a>
        </div>
      </div>
  </div>