<div class="robotoReg" id="clientPageId">
      <!-- spinner -->
        <div class="spinner" ng-show="loading">
		  <img src="images/cubic_loader.gif">
        </div>
      <div class="row" ng-hide="loading">
        <div class="col s8">
         <div class="row">
            <span class="medText" style="font-size: 40px">{{clientName}}</span>&nbsp;&nbsp;<span >Client#: </span><span class="nameStyle robotoLight">{{accountNo}}</span> &nbsp;&nbsp;<span style="font-size: 12px;">|</span>&nbsp;&nbsp;<span >Assigned Staff: </span><span class="nameStyle robotoLight">{{staffName}}</span>
          </div>
		  <div class="row">
			  <div class="col s12" style="position: relative; left: 1%;">
	        	<table class="bordered centered responsive-table" style="font-size: 15px">
					<thead style="background-color: rgba(0, 0, 0, 0.2)">
	                    <th data-field="id">ID</th>
	                    <th data-field="accountId">Account #</th>
						<th data-field="name">Account Name</th>
						<th data-field="originalLoan">Original Loan</th>
						<th data-field="balance">Loan Balance</th>
						<th data-field="paid">Amount Paid</th>
						<th data-field="button">Action<th>
					</thead>
					<tbody>
						<tr ng-repeat="acc in loanAccounts" class="pointer tableHover">
							<td>{{acc.id}}</td>
							<td>{{acc.accountNo}}</td>
							<td>{{acc.productName}}</td>
							<td>{{acc.originalLoan}}</td>
							<td>{{acc.loanBalance}}</td>
							<td>{{acc.amountPaid}}</td>
							<td><a href="#/processSavings" class="btn" ng-class="acc.status.active || acc.status.rejected ? 'blue' : 'whiteBtn'">Credit</a></td>
						</tr>
					</tbody>
				</table>
			  </div>
		  </div>
		  <script type="text/ng-template" id="processSave.htm">
          <div class="row withMBox">
            <form class="col s9" name="saveForm" ng-sumbit="submitSaveForm(saveForm.$valid)" novalidate>
              <div class="row" style="text-align: center;">
                <span class="xlargeText robotoLight saveMon">Save Money From MM Account</span>
              </div>
              <div class="row">
                <span class="xxlargeText robotoThin">Current Balance: 65000</span>
              </div>
              <div class="row">
                <div class="input-field" ng-class="{'has-error': saveForm.amount.$invalid && !saveForm.amount.$pristine }">
                  <i class="material-icons prefix">attach_money</i>
                  <input name="amount" id="icon_prefix" type="number" ng-model="amount" ng-minlength="1" required>
                  <label for="icon_prefix">Enter Amount</label>
                   <p ng-show="(saveForm.amount.$invalid && !saveForm.amount.$pristine) && submitted" class="errorMsg">Amount is required.</p>
                </div>
              </div>
              <div class="row">
                <div class="input-field" ng-class="{ 'has-error': saveForm.phone.$invalid && !saveForm.phone.$pristine }">
                  <i class="material-icons prefix">phone</i>
                  <input name="phone" type="number" id="phoneNumber" ng-model="phoneNumber" ng-minlength="8" required>
                  <label for="icon_prefix">Phone Number</label>
                  <p ng-show="saveForm.phone.$error.minlength && submitted" class="errorMsg">Phone number is too short.</p>
                  <p ng-show="(saveForm.phone.$invalid && !saveForm.phone.$pristine) && submitted" class="errorMsg">Phone number is required.</p>
                </div>
              </div>
              <br>
              <div class="row">
                  <a class="btn waves-effect waves-light yellow lighten-1 left" ng-click="goBack()" style="color: rgba(0, 0, 0, 0.6);">Cancel<i class="material-icons right">clear</i></a>
                  <button class="btn waves-effect waves-light light-blue darken-1 right" ng-click="saveMoneyRequest(12345678)">Submit<i class="material-icons right">send</i></button>
              </div>
            </form>
          </div>
	  	  </script>
        </div>
        <!-- Modal Structure -->
          <div id="sendMoneyModal" class="modal">
              <div class="modal-content">
                <h3 class="robotoThin">Please wait....Processing request</h3>
              </div>
              <div class="modal-footer">
                <div class="progress">
                  <div class="indeterminate"></div>
                </div>
              </div>
          </div>
        <div class="col s4 resetSize">
          <div class="clientBox">
            <div class="row clientImg">
              <span><img src="images/client-image-placeholder.png"></span>
            </div>
            <div class="row summaryInfo">
              <div class="sumHead" style="text-align: center;">Client Information</div><br>
              <span class="robotoThin">Activation Date: <span class="robotoReg">{{activationDate}}</span></span><br><br>
              <span class="robotoThin">Current Account Balance: <span class="robotoReg">65000</span></span><br><br>
              <span class="robotoThin">Staff Member: <span class="robotoReg">{{staffName}}</span></span><br><br>
              <span class="robotoThin">Office: <span class="robotoReg">{{officeName}}</span></span><br><br>
              <span class="robotoThin">Activated by: <span class="robotoReg">{{userName}}</span></span><br><br>
            </div>
          </div>
        </div>
      </div>
  </div>