<div class="robotoReg" id="clientPageId">
      <div class="row">
        <div class="col s8">
         <div class="row">
            <span class="medText" style="font-size: 50px">Carlson, Daniel</span>&nbsp;&nbsp;<span class="nameStyle robotoLight">Client#: 1234567</span> &nbsp;&nbsp;<span style="font-size: 20px;">|</span>&nbsp;&nbsp;<span class="nameStyle robotoLight">Assigned Staff: Marcus Brody</span>
          </div>
          <div class="row withMBox">
            <form class="col s9" name="saveForm" ng-sumbit="submitForm(saveForm.$valid)" novalidate>
              <div class="row" style="text-align: center;">
                <span class="xlargeText robotoLight saveMon">Save Money into MM Account</span>
              </div>
              <div class="row">
                <span class="xxlargeText robotoThin">Current Balance: 65000</span>
              </div>
              <div class="row">
                <div class="input-field">
                  <i class="material-icons prefix">attach_money</i>
                  <input id="icon_prefix" type="number" class="validate">
                  <p ng-show="saveForm.username.$invalid && !saveForm.username.$pristine && submitted">An amount is required</p>
                  <label for="icon_prefix">Enter Amount</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field">
                  <i class="material-icons prefix">phone</i>
                  <input type="number" id="phoneNumber">
                  <label for="icon_prefix">Phone Number</label>
                </div>
              </div>
              <br>
              <div class="row">
                  <a class="btn waves-effect waves-light yellow lighten-1 left" style="color: rgba(0, 0, 0, 0.6);">Cancel<i class="material-icons right">clear</i></a>
                  <a class="btn waves-effect waves-light light-blue darken-1 right" ng-click="saveMoney()">Submit<i class="material-icons right">send</i></a>
              </div>
            </form>
          </div>
        </div>
        <div class="col s3 resetSize">
          <div class="clientBox">
            <div class="row clientImg">
              <span><img src="images/client-image-placeholder.png"></span>
            </div>
            <div class="row summaryInfo">
              <div class="sumHead" style="text-align: center;">Client Information</div><br>
              <span>Activation Date: 27th May 2016</span><br><br>
              <span>Current Account Balance: 65000</span><br><br>
              <span>Staff Member: Jack Ryan</span><br><br>
              <span>Gender: Male</span><br><br>
              <span>Client Type: Footballer</span><br><br>
              <span>Client Classification: Gold</span>
            </div>
          </div>
        </div>
      </div>
  </div>