<div class="robotoReg" id="clientPageId">
      <!-- spinner -->
        <div class="sk-fading-circle spinner" ng-show="loading">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
        </div>
      <div class="row" ng-hide="loading">
        <div class="col s9">
         <div class="row">
            <span class="medText" style="font-size: 40px">{{clientName}}</span>&nbsp;&nbsp;<span>Client#: <span class="nameStyle robotoLight">{{accountNo}}</span></span> &nbsp;&nbsp;<span style="font-size: 12px;">|</span>&nbsp;&nbsp;Assigned Staff: <span class="nameStyle robotoLight">{{staffName}}</span></span>
          </div>
          <div class="row withMBox">
            <form class="col s8" name="withForm" ng-submit="submitForm(withForm.$valid)" novalidate>
              <div class="row" style="text-align: center;">
                <span class="xlargeText robotoLight withHHead">Withdraw Money into MM Account</span>
              </div>
              <div class="row">
                <span class="xlargeText robotoThin">Current Balance: 65000</span>
              </div>
              <div class="row">
                <div class="input-field" ng-class="{'has-error': withForm.amount.$invalid && !withForm.amount.$pristine }">
                  <i class="material-icons prefix">attach_money</i>
                  <input name="amount" id="icon_prefix" ng-model="amount" type="number" ng-minlength="1" required>
                  <label for="icon_prefix">Enter Amount</label>
                  <p ng-show="(withForm.amount.$invalid && !withForm.amount.$pristine) && submitted" class="errorMsg">Amount is required.</p>
                </div>
              </div>
              <div class="row">
                <div class="input-field" ng-class="{ 'has-error': withForm.phone.$invalid && !withForm.phone.$pristine }">
                  <i class="material-icons prefix">phone</i>
                  <input name="phone" type="number" id="phoneNumber" ng-model="phoneNumber" ng-minlength="8" required>
                  <label for="icon_prefix">Phone Number</label>
                  <p ng-show="withForm.phone.$error.minlength && submitted" class="errorMsg">Phone number is too short.</p>
                  <p ng-show="(withForm.phone.$invalid && !withForm.phone.$pristine) && submitted" class="errorMsg">Phone number is required.</p>
                </div>
              </div>
              <br><br>
              <div class="row">
                  <a class="btn waves-effect waves-light red darken-1 left" ng-click="goBack()">Cancel<i class="material-icons right">clear</i></a>
                  <button class="btn waves-effect waves-light light-green darken-2 right">Submit<i class="material-icons right">send</i></button>
              </div>
            </form>
          </div>
        </div>
         <!-- Modal Structure -->
          <div id="withModal" class="modal">
              <div class="modal-content">
                <h3 class="robotoThin">Please wait....Processing request</h3>
              </div>
              <div class="modal-footer">
                <div class="progress">
                  <div class="indeterminate"></div>
                </div>
              </div>
          </div>
        <div class="col s3 resetSize">
          <div class="clientBox">
            <div class="row clientImg">
              <span><img src="images/client-image-placeholder.png"></span>
            </div>
            <div class="row summaryInfo">
              <div class="sumHead" style="text-align: center;">Client information</div><br>
              <span>Activation Date: 27th May 2016</span><br><br>
              <span>Current Account Balance: 65000</span><br><br>
              <span>Staff Member: Jack Ryan</span><br><br>
              <span>Gender: Male</span><br><br>
              <span>Client Type: Footballer</span><br><br>
              <span>Client Classification: Gold</span>
            </div>
          </div>
        </div>
      </div>
  </div>

  